/*body {
    background-color: beige;
}
section:first-child>div>div:first-of-type {
    background-color:orangered;
    width: auto;
    height: 300px;
    
}
section:first-child>div>div:nth-of-type(2){
background-color:orangered;
width: auto;
height: 300px;
}
section:first-child>div>div:nth-of-type(3){
background-color: orangered;
width: auto;
height: 300px;
}
section:first-child>div>div:last-of-type{
background-color: orangered;
width: auto;
height: 300px;
}
section:first-child>div:first-of-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/


.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: sandybrown;
    height: 700px;
}
.flex-item {
    background-color: purple;
    height: 150px;
    padding: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
}