body {
  margin: 0
}

/* Exo margin */
section {
  background-color: #4da6ff;
}
h2 {
  background-color: yellow;
  border: solid 2px black;
  height: 300px;
}
body section:first-child>h2:first-of-type {
  margin: 50px;
  color: red;
}
body section:first-child>h2:nth-child(5){
  color:red;
  margin-left: 20%;
}
body section:first-child>h2:last-of-type{
  margin: auto;
  color:red;
}
/* fin exo margin */

/* exo padding */
body section:nth-child(2)>h2:first-of-type {
  padding: 50px;
  color:blue;
}
body section:nth-child(2)>h2:last-of-type {
  padding-left: 20%;
  color:blue;
}
/* fin exo padding */

/* exo display */
body section:nth-child(3)>h2:first-of-type {
  margin: 20px;
  padding: 40px;
  display: inline;
}
body section:nth-child(3)>h2:last-of-type {
  marign: 20px;
  padding: 40px;
  display: inline;
}
/* fin exo display */

/* exo float */
body section:nth-child(4)>h2:first-of-type {
  width: auto;
  float: right;
}
body section:nth-child(4)>h2:last-of-type {
  width: auto;
  float: left;
}
/* fin exo float */

/* exo position */
body section:nth-child(5)>h2:first-of-type {
position: absolute;
background-color: green;
margin: 0;
top: 0;
}
body section:nth-child(5) {
  position: relative;
  top: 50px;
  left: 50%;
}
/* fin exo position */

/* exo position (priorité) */
body section:nth-child(6)>h2:last-of-type {
  background-color: blue;
  margin-left: 100px;
  position: absolute;
  z-index: 2;
  
}
body section:nth-child(6)>h2:first-of-type {
  position: absolute;
  z-index: 1;
}
/* fin exo position (priorité) */