@media (min-width: 1025px) {
    h1 {
        font-size: 50px;
        background-color: red
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    h1 {
        font-size: 25px;
        background-color: blue
    }
}

@media (min-width: 320px) and (max-width: 599px) {
    h1 {
        font-size: 15px;
        background-color: green;
    }
}