/* NavBar */

/*1e partie*/
header {
  position: relative;
}
#newsletter{
  background-color: purple;
  position: relative;
  height: 55px;
}
#newsletter img{
  position: absolute;
  width: 50px;
  margin-top: 3px;
}
#champs_newsletter div{ 
  display: flex;
  align-items: center;
  justify-content: center;  
}
button {
  background-color: green;
  color: white;
  height: 28px;
  border-radius: 5px;
}
input {
  height: 20px;
  border-radius: 5px;
  margin: 15px;
}
header>#newsletter>#champs_newsletter>div>span {
  color: white;
}
/* fin 1e partie */

/* 2e partie */
header>nav {
  display: flex;
}
nav>.logo>img {
  width: 50%;
  height: auto;
}
.menu {
  display: flex;
  position: relative;

}
.menu>ul {
  width: 1300px;
  height: none;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
}
.menu>ul>li>a {
    text-decoration: none;
    color: black;
}
/* fin 2e partie */

/* Fin NavBar */


/* Section */
#contenu {
  display: flex;
  flex-direction: column;
  background-color: lightgrey
}
h1 {
  text-align: center;
}
h1, h2 {
  font-size: 40px;
}
#contenu>p, #contenu>ul, #contenu>h2 {
  margin-left: 15%;
  width: 70%;
}
#contenu>ul>li {
  padding: 6px;
  display: flex;
}
#contenu>ul li::before {
  content: "\2022";
  color: purple;
  display: inline-block;
  width: 2em;
  font-weight: bold;
  /* font-size: 20px; */
}
/* Fin section */

/* Footer */
footer {
  background-color: grey; 
  width: auto;
  height: 250px;
}
#section {
  display: flex;
  width: 50%;
  margin-left: 425px;
}
footer>#section {
  justify-content: space-around;
  padding: 30px;
}
footer>#section>div>a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
/* footer>#section>div:first-child>a::before {

}
footer>#section>div:nth-child(2)>a::before {

}
footer>#section>div:last-child>a::before {
  content: "\2022";
  color: purple;
} */
footer>#section>div>span {
  display: inline-block;
  list-style-type: none;
  color: white;
}
footer>p {
  width: 50%;
  margin-left: 455px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: lightgrey;
}

footer>img {
  width: 200px;
  height: auto;
  margin-left: 825px;
}