/* header */
header {
    display: flex;
    background-color: black;
}
    .navbar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
        .navbar>img {
            height: 65px;
            width: 65px;
            margin: 10px;
        }
    .logo {
        display: flex;
        margin-top: 15px;
    }
        .logo>img {
            height: 50px;
            width: 258px;
        }
/* fin header */

/* 1e section */
.first {
    display: flex;
    background-color: #2F4C5C;
}
    .first_logo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .first_logo>img {
            width: 130px;
            height: 130px;
        }
    .first_h1_h2 {
        width: 75%;
        color: white;
    }
/* fin 1e section */

/* 2e section */
.second {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.second_img {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px; 
}
.second_text {
    padding-top: 50px;
    padding-left: 50px;
}
.second>.second_text>h1 {
    background-color: #2F4C5C;
    color: white;
    padding: 25px;
    width: max-content;
}
.second>.second_text>p {
    margin-left: 25px;
}

/* fin 2e section */

/* 3e section */
.third {
    display: flex;
    background-color: #EAE3D6;
    justify-content: space-evenly;
    position: relative;
}
    .third_image1>img {
        height: 125px;
        width: 125px;
        padding: 20px;
        /* position: absolute; */
    }
        .third_image1>img::before {
            content: "logo";
            background-color: red;
            height: 3px;
            width: 10px;
            bottom: 0px;
        }
    .third_image2>img {
        height: 125px;
        width: 125px;
        padding: 20px;
    }
    .third_image3>img {
        height: 125px;
        width: 125px;
        padding: 20px;
    }.third_image4>img {
        height: 125px;
        width: 125px;
        padding: 20px;
    }
/* fin 3e section */

/* 4e section */
.fourth {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.fourth_img {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px; 
}
.fourth_text {
    padding-top: 50px;
    padding-left: 50px;
}
.fourth>.fourth_text>h1 {
    background-color: #2F4C5C;
    color: white;
    padding: 25px;
    width: max-content;
}
.fourth>.fourth_text>p {
    margin-left: 25px;
}
/* fin 4e section */

/* 5e section */
.fifth {
    display: flex;
    background-color: #EAE3D6;
    justify-content: space-evenly;
}
.fifth_image1>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
.fifth_image2>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
.fifth_image3>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
.fifth_image4>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
.fifth_image5>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
/* fin 5e section */

/* 6e section */
.sixth {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.sixth_img {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px; 
}
.sixth_text {
    padding-top: 50px;
    padding-left: 50px;
}
.sixth>.sixth_text>h1 {
    background-color: #2F4C5C;
    color: white;
    padding: 25px;
    width: max-content;
}
.sixth>.sixth_text>p {
    margin-left: 25px;
}
/* fin 6e section */

/* 7e section */
.seventh {
    display: flex;
    background-color: #EAE3D6;
    justify-content: space-evenly;
}
.seventh_image1>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
.seventh_image2>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
.seventh_image3>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}.seventh_image4>img {
    height: 125px;
    width: 125px;
    padding: 20px;
}
/*fin 7e section */

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #2F4C5C;
}
footer>.footer_pack>ul {
    list-style-type: none;
    width: 33%;
    display: flex;
    
}
footer>.footer_pack>ul>li {
    margin: 10px;
}
footer>.footer_pack>ul>li>img {
    width: 100px;
}
footer>.footer_pack>p {
    color: white;
    font-size: 30px;
}
footer>.footer_outils>ul {
    list-style-type: none;
    width: 33%;
    display: flex;
}
footer>.footer_outils>ul>li {
    margin: 10px;
}
footer>.footer_outils>ul>li>img {
    width: 100px;
}
footer>.footer_outils>p {
    color: white;
    font-size: 30px;
}
footer>.footer_socialmedia>ul {
    list-style-type: none;
    display: flex;
    width: 33%;
}
footer>.footer_socialmedia>ul>li {
    margin: 10px;
}
footer>.footer_socialmedia>ul>li>img {
    width: 100px;
}
footer>.footer_socialmedia>p {
    color: white;
    font-size: 30px;
}